<!DOCTYPE html>
<html>
  <head>
    <title>Frozennn</title>
    <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%= render "layouts/link" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="frozennn">
    <% flash.each do |key, value| %>
      <p>
        <b><%= key %></b>
        <%= value %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
